@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #0c0c18;
    display: grid;
    grid-template-columns: 50% 50%;
}.left-content{
    color: #6370f2;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px 20px;
}.cat-image{
    max-width: 80%;
}.right-content{
    display: flex;
    align-items: center;
    justify-content: center;
}.main-content{
    width: 60%;
    height: 26em;
    padding: 0px 5%;
    display: flex;
    flex-direction: column;
    gap: 0.9em;
    background-color: #131325;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 10px 5px 10px #00000049 ;
}h1{
    text-align: center;
    font-size: 2em;
    color: #6370f2;
}.main-content > label{
    font-size: 1.1em;
    color: #b9b9b9;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}.input{
    border: 0;
    border-radius: 10px;
    color: #a09f9f;
    padding: 10px 10px;
    font-size: 1.1em;
    width: 90%;
    background-color: #23233b;
}.input::placeholder{
    color: #a09f9f;
}.link_es{
    color: #b9b9b9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1em;
}.btn{
    color: #0c0c18;
    background-color: #6370f2;
    border-radius:5px;
    border: 0;
    font-size: 1.2em;
    font-family: 'Noto Sans', sans-serif;
    padding:6px 0px;
}.btn{
    background-color: #7a85f7;
    cursor: pointer;
}
/* =======================RESPONSIVIDADE=========================== */
@media screen and (max-height:550px ){
    .left-content{
        height: 36em;
    }
}@media screen and (max-width : 930px){
    .main-content{
        height: 24em;
        width: 75%;
    }h1{
        font-size: 1.7em;
    }.cat-image{
        max-width :90%;
    }.btn,.input{
        font-size: 1em;
    }
}@media screen and (max-width : 640px){
    body{
        display: flex;
        flex-direction: column;
        gap: 1em 0px;
    }.cat-image{
        max-width :50%;
    }.left-content > h1{
        display: none;
    }.left-content {
        height:12em;
        width: 100%;
        margin-top: 2em;
    }.right-content{
        height:28em;
    }
}@media screen and (max-width : 440px){
    body{
        gap: 0em 0px;
    }.right-content{
        height:26em;
    }
}